/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* layout */

.wrapper {
    font-size: 18px;
    background: #8c8c8c;
    height: 100vh;
    position: relative;
}

section.main {
    width: 40%;
    background: #f6f6f6;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

section.main .main-title {
    padding: 30px 20px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background: mediumaquamarine;
    border-bottom: 1px solid #d3d3d3;
}

section.main .number-wrapper {
    padding: 50px 20px;
}

section.main .number-wrapper h2 {
    font-size: 22px;
    text-align: center;
}

#numbers {
    width: 70%;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px 50px;
    margin: 30px auto 0;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 20px;
}

#numbers .card {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background: rgb(47, 47, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}